body {
     margin: 3px;
}

.jsgrid-align-center {
    word-break: break-all !important;
}

h1 {
    font-size: 1.8em;
}

.jsgrid-button {
    background-size: 24px 352px !important;
}

.legend_item div {
    float: left !important;
    line-height: 1.5 !important;
    text-align: left !important;
}

.legend_item {
    margin-top: 30px !important;
    width: 90% !important;
}

#totals {
    width: 90% !important;
    margin-top: 45px;
    margin-bottom: 60px !important;
}

#totals span, #totals strong {
    float: left !important;
    line-height: 1.5 !important;
    text-align: left !important;
}

.jsgrid-grid-body {
    overflow-y: auto !important;
}


div#wrapper{
  margin: 25px;
}

div#head{
  margin:0;
  padding:'50px';
}
div#jsGrid{
  margin:0;
  padding:'50px';
}
table {
    border-collapse: collapse;
    width: 100%;
}
table th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid black;
}
table th.sum, td.sum{
    text-align: right;
    width: 100px;
}
table th.npp, td.npp{
    text-align: center;
    width: 50px;
}

table tr.collection td.jsgrid-cell{
  background-color:#FFDAB9;
}
table tr.collection_without_task td.jsgrid-cell{
  background-color:#F0E68C;
}
table tr.task td.jsgrid-cell{
  background-color:#fff
}
table th{
  background-color:#fff
}

div#head{
   width: 100%;
   text-align: center;
}
div.legend_item{
   width: 100%;
   margin:5px;
}

div.legend_item div{
   height: 25px !important;
}

div.legend_item div{
   position:relative;
   float:right;
   text-align: right;
   margin-right:5px;
   height:15px;
}

div#legend_collection{
   border:1px solid black;
   background-color:#FFDAB9;
   width:25px;
}
div#legend_collection_without_task{
   border:1px solid black;
   background-color:#F0E68C;
   width:25px;
}
div#legend_task{
   border:1px solid black;
   background-color:#fff;
   width:25px;
}

.jsgrid-align-right {
    text-align: right      !important;
}
.jsgrid-align-left {
    text-align: left       !important;
}
td.jsgrid-cell, th.jsgrid-header-cell, div.jsgrid-pager, div.legend_item{
  font-size:100%;
  line-height:1.2;
}
div#totals{
   width: 100%;
   text-align: right;
   padding: '25px';
}
